body {
  font-family: "Lato", sans-serif;
  margin: 0px;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}
.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}


.nav-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 38px;
}

.left-side {
  display: flex;
}

.nav-wrapper > .left-side > div {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.nav-link-wrapper {
  height: 22px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.5s;
}

.active-nav-link {
  border-bottom: 1px solid black;
}

.active-nav-link a {
  color: black !important;
}

.nav-link-wrapper a {
  color: #8a8a8a;
  text-decoration: none;
  transition: color 0.5s;
}

.nav-link-wrapper:hover {
  border-bottom: 1px solid black;
}

.nav-link-wrapper a:hover {
  color: black;
}

.column {
  float: left;
  width: 33.33%;
  padding: 15px;
  border: 10px solid black;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
.main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 2rem;
  position:absolute;
  left: 30rem;
  top: 15rem;
}
.avatar {
  position:absolute;
  left: 60rem;
  top: 10rem;
}

.git-button {
  position:absolute;
  left: 30rem;
  top: 23rem;
}

.email {
  position:absolute;
  left: 36rem;
  top: 23rem;    
}

.discord {
  position:absolute;
  left: 42rem;
  top: 23rem;
}



h1 {
  font-weight: bold;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

